@charset "UTF-8";
html {
    overflow-y: scroll;
}

#header {
    position: relative;
}

nav.tabs a,
nav.tabs {
    background-color: var(--bghi);
    color: var(--bglo);
}

nav.tabs a.selected,
nav.tabs a:hover {
    border-bottom: 1px solid var(--bglo);
    background-color: var(--bglo);
    color: var(--text);
}

form.elicom {
    margin: 1rem 0;
}

form h5 {
    margin: 0 0 0.5em 0;
}

form.elicom .arelation {
    margin: 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
}

form.elicom input[name=q] {
    width: 25rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 1rem;
}

#relwords {
    margin: 0 1rem 0 1rem;
    display: flex;
    height: 10rem;
    overflow: hidden;
}

#relwords a {
    cursor: pointer;
}

form.elicom fieldset {
    position: relative;
    border-color: var(--borderlo);
}

fieldset.left {
    text-align: left;
}

fieldset.center {
    text-align: center;
}

fieldset.right {
    text-align: right;
}

form.elicom fieldset {
    min-width: 20%;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
}

form.elicom .suggest {
    left: 0.75em;
    right: 0.75em;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
}

form.elicom label,
form.elicom fieldset input[type=text] {
    display: block;
    width: 100%;
}

div.filters label {
    width: 40ex;
    padding: 0 1rem;
    text-align: center;
}

form.elicom input.date {
    display: inline;
    width: 13ex;
}

form small.hint {
    display: block;
}

fieldset.multiple label a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 105%;
}

fieldset.multiple label a:hover {
    color: #800;
}

label.corres {
    font-size: 105%;
    font-weight: bold;
    color: var(--text);
}

.suggest .corres {
    cursor: pointer;
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--border);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
}

.suggest .corres:hover {
    background: var(--bghi);
    color: var(--texthi);
}

.suggest .corres:hover mark {
    color: var(--texthi);
}

#graph {
    height: 50vh;
    background-color: var(--bghi);
}

.relation h5 {
    margin: 0;
    text-align: center;
}

.relation .flex {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.relation .flex div {
    padding: 1px 1ex;
}

.relation .flex .receiver,
.relation .flex .sender {
    flex-shrink: 0;
    width: 8rem;
    align-self: center;
}

.relation .flex .sender {
    text-align: right;
}

.relation .flex .receiver {
    text-align: left;
}

.relation .flex .words {
    background: var(--bg);
    color: var(--text);
}

.relation .words a {
    color: var(--text);
    text-decoration: none;
}

.relation .words a small {
    color: var(--textlo);
}

header .sender,
header .receiver {
    font-weight: bold;
}


/** biject graph of correspondant */

#biject {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
}

#biject .relations {
    position: relative;
    flex-grow: 4;
    min-width: 100px;
    background-color: #fff;
}

#biject .senders,
#biject .receivers {
    white-space: nowrap;
    flex: 0 0 40%;
}

#biject .senders {
    text-align: right;
}

#biject .receivers {
    text-align: left;
}

#biject .senders>*,
#biject .receivers>* {
    overflow: hidden;
    border-bottom: 1px var(--border) solid;
    padding: 0 0.5rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-sizing: content-box;
}

#biject .senders header {
    font-weight: bold;
    justify-content: left;
}

#biject .receivers header {
    font-weight: bold;
    justify-content: right;
}

#biject .senders .more {
    border: none;
    justify-content: right;
}

#biject .receivers .more {
    border: none;
    justify-content: right;
}

#biject .senders>* {
    justify-content: right;
}

#biject .receivers>* {
    justify-content: left;
}

#biject .relations polygon {
    fill: rgba(0, 0, 0, 0.2);
}

#biject .corr {
    cursor: pointer;
}

#biject .corr:hover {
    cursor: pointer;
    background-color: var(--bghover);
    color: var(--text);
}