@charset "UTF-8";
html {
    overflow-y: scroll;
}

html {
    scrollbar-color: var(--text) var(--bghi);
}

::-webkit-scrollbar {
    background: var(--bghi);
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

html,
body {
    background-color: var(--bglo);
}

body {
    border-left: 16px solid var(--bghi);
}

#header {
    position: relative;
}

nav.tabs a,
nav.tabs {
    background-color: var(--bghi);
    color: var(--bglo);
}

nav.tabs a.selected,
nav.tabs a[href]:hover {
    border-bottom: 1px solid var(--bglo);
    background-color: var(--bglo);
    color: var(--bg);
}

form.elicom {
    margin: 0;
    position: relative;
}

form.elicom .arelation {
    margin: 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
}

input,
select,
.qline button {
    font-size: 22px;
    line-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.qline button {
    padding: 2.2px 5px;
}

#send-reiceive input {
    font-weight: normal;
    /*
    background-color: var(--bglo);
    */
}


/*
button.field {
    line-height: 117%;
    font-size: 20px;
}
*/

.butleft {
    border-right: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.butright {
    border-left: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

form.elicom input[name=q] {
    width: 15rem;
    padding: 0 0.5rem;
    border-radius: 0;
}

#relwords {
    margin: 0 1rem 0 1rem;
    display: flex;
    min-height: 5rem;
    overflow: auto;
    width: 100%;
    flex-grow: 2;
    justify-content: center;
    column-gap: 0.5rem;
}

#relwords a {
    cursor: pointer;
}

.colchron header {
    white-space: nowrap;
}

#relwords .colchron a {
    display: block;
    white-space: nowrap;
    max-width: 15ex;
    overflow: hidden;
    text-overflow: ellipsis;
}

form .meta {
    font-weight: bold;
    padding: 0 1rem;
    white-space: nowrap;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.qline {
    display: flex;
    align-items: center;
}

form.elicom fieldset {
    position: relative;
    border-color: var(--borderlo);
}

fieldset.left {
    text-align: left;
}

fieldset.center {
    text-align: center;
}

fieldset.right {
    text-align: right;
}

form.elicom fieldset {
    min-width: 20%;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
}

form.elicom .suggest {
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    z-index: 100;
}

form.elicom fieldset input[type=text] {
    display: block;
    width: 100%;
}

div.filters label {
    width: 40ex;
    padding: 0 1rem;
    text-align: center;
}

form.elicom input.date {
    display: inline;
    width: 13ex;
}

form small.hint {
    display: block;
}

fieldset.multiple label a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 105%;
}

fieldset.multiple label a:hover {
    color: #800;
}

.values {
    font-size: 105%;
    font-weight: bold;
    color: var(--text);
}

.suggest .corres {
    cursor: pointer;
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--border);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
}

.suggest .corres:hover {
    background: var(--bghi);
    color: var(--texthi);
}

.suggest .corres:hover mark {
    color: var(--texthi);
}

#graph {
    height: 50vh;
    background-color: var(--bghi);
}

.relation h5 {
    margin: 0;
    text-align: center;
}

.relation .flex {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.relation .flex div {
    padding: 1px 1ex;
}

.relation .flex .receiver,
.relation .flex .sender {
    flex-shrink: 0;
    width: 8rem;
    align-self: center;
}

.relation .flex .sender {
    text-align: right;
}

.relation .flex .receiver {
    text-align: left;
}

.relation .flex .words {
    background: var(--bg);
    color: var(--text);
}

.relation .words a {
    color: var(--text);
    text-decoration: none;
}

.relation .words a small {
    color: var(--textlo);
}

header .sender,
header .receiver {
    font-weight: bold;
}


/** biject graph of correspondant */

#biject {
    position: relative;
    display: flex;
    margin: 1rem 0 0 0;
}

#biject .relations {
    position: relative;
    flex-grow: 4;
    min-width: 100px;
}

#biject .relations polygon {
    fill: rgba(0, 0, 0, 0.3);
}

#biject .senders,
#biject .receivers {
    white-space: nowrap;
    flex: 0 0 40%;
}

#biject .senders {
    text-align: right;
}

#biject .receivers {
    text-align: left;
}

#biject .senders>*,
#biject .receivers>* {
    overflow: hidden;
    border-bottom: 1px var(--border) solid;
    padding: 0 0.5rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-sizing: content-box;
}

#biject .senders header {
    font-weight: bold;
    justify-content: left;
}

#biject .receivers header {
    font-weight: bold;
    justify-content: right;
}

#biject .senders .more {
    border: none;
    justify-content: right;
}

#biject .receivers .more {
    border: none;
}

#biject .senders>* {
    justify-content: right;
}

#biject .receivers>* {
    justify-content: left;
}

#biject .more,
#biject .corr {
    font-size: 85%;
}


/*
#biject .corr:hover {
    cursor: pointer;
    background-color: var(--bghover);
    color: var(--text);
}
*/


/** The timeplot sliders */

form.elicom {
    --cursor-width: 4.7rem;
}

.timeplot {
    --time-height: 28.2px;
    margin-left: var(--cursor-width);
    margin-right: var(--cursor-width);
    position: relative;
    line-height: 100%;
}

.timeplot canvas {
    cursor: pointer;
    width: 100%;
    position: relative;
    height: var(--time-height);
    border: 1px solid var(--borderlo);
}

.timeplot .cursor {
    padding: 0;
    /** needed */
    width: var(--cursor-width);
    cursor: col-resize;
    top: 0;
    position: absolute;
    color: #fff;
}

.timeplot .cursor span {
    display: block;
    padding: 0 0.5ex 0px 0.5ex;
}

.timeplot .cursor input {
    display: block;
    border-radius: 0;
    /* border: none; */
    background-color: var(--bglo);
    text-align: center;
    padding: 0;
    width: 100%;
}

.timeplot .cursor.left {
    left: var(--cursor-width);
    border-right: solid 3px #fff;
    text-align: right;
}

.timeplot .cursor.left input {
    border-right: none;
}

.timeplot .cursor.right {
    right: var(--cursor-width);
    border-left: solid 3px #fff;
}

.timeplot .cursor.right input {
    border-left: none;
}

.timeplot .ticks {
    width: 100%;
    position: relative;
    color: var(--bg);
}

.timeplot .ticks div {
    display: inline;
    position: absolute;
    padding-left: 0.5ex;
    border-left: 1px solid var(--borderlo);
    bottom: 0;
}

.timeplot .ticks div.first {
    position: static;
}

.timeplot .ticks div.last {
    padding-left: 0;
    border-left: none;
    padding-right: 0.5ex;
    border-right: 1px solid var(--borderlo);
}

.cursor span,
.timeplot .tooltip,
.timeplot .ticks {
    font-size: 85%;
    line-height: 1em;
}

.timeplot .tooltip {
    background-color: #fff;
    top: 0;
    color: #000;
    border-left: 1px solid #000;
    padding: 0 1ex;
    font-weight: bold;
}

.timeplot .tooltip.right {
    border-left: none;
    border-right: 1px solid #000;
}

.centering {
    border-top: 1px solid var(--bg);
    margin-top: 2rem;
    padding-top: 2rem;
}

#conc {
    scroll-margin: 5rem;
    min-height: 200vh;
    width: 140ex;
    flex-shrink: 4;
    margin-left: auto;
    margin-right: auto;
}

.concline {
    display: flex;
    flex-wrap: nowrap;
    gap: 1ex;
    justify-content: flex-start;
    color: inherit;
    /* align <small> */
    align-items: center;
}

.concline.words {
    border-bottom: 1px solid var(--bg);
}

.concline>* {
    display: inline-block;
    text-align: left;
}

.concline>.num {
    flex-basis: 4ex;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
}

.concline>.date {
    flex-basis: 11ex;
    flex-grow: 0;
    flex-shrink: 0;
}

.concline>.sender,
.concline>.receiver {
    width: 13ex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

a.concline:hover {
    background-color: var(--bg);
    text-decoration: none;
}

.concline .pivot {
    white-space: nowrap;
    font-weight: bold;
}

.concline .left,
.concline .right {
    flex-basis: 42ex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.concline .left {
    text-align: right;
    /* for ellipsis on the left */
    direction: rtl;
}

.concline>.words {
    padding: 4px 0;
}


/* form line with reeivers */

#send-reiceive {
    display: flex;
    justify-content: space-between;
}

#send-reiceive>* {
    position: relative;
    display: flex;
    align-items: center;
}

#send-reiceive .suggest {
    top: 2rem;
}

#send-reiceive .left {
    justify-content: flex-start;
    width: 45%;
}

#send-reiceive .right {
    justify-content: flex-end;
    width: 45%;
}

#send-reiceive .right input[type='text'] {
    text-align: right;
}

input,
select {
    background: inherit;
    color: var(--text);
}

input:focus {
    background: var(--bg);
}

::-webkit-input-placeholder {
    color: var(--bg);
    font-style: normal;
}

::-moz-placeholder {
    opacity:  1;
    color: var(--bg);
    font-style: normal;
}

::-ms-placeholder {
    color: var(--bg);
    font-style: normal;
}

::placeholder {
    color: var(--bg);
    font-style: normal;
}

.multiple::-webkit-input-placeholder {
    color: var(--text);
}

.multiple::-moz-placeholder {
    color: var(--text);
}

.multiple::placeholder {
    color: var(--text);
}


select.cat,
#send-reiceive input[type='text'] {
    width: 15ex;
    padding: 0 0.5ex;
}

.left label.corres {
    margin-left: 1ex;
}

.right label.corres {
    margin-right: 1ex;
}

label.corres {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    width: 15ex;
    margin: 0 2px;
    background-color: var(--bg);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    text-align: left;
    color: var(--text);
    border-radius: 0.5em;
}

label.corres a {
    text-decoration: none;
}

#navres {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--bglo);
    border-bottom: 1px var(--bg) solid;
    padding-top: 1ex;
    padding-bottom: 1ex;
}

#biject,
#navres {
    padding-left: 50px;
    padding-right: 50px;
}

.timeplot,
#send-reiceive,
.qline {
    margin-top: 10px;
}

select.cat {}

#eliforms {
    padding: 0 0.5ex 0 0.5ex;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: "";
}

#eliforms a {
    display: inline-block;
    padding: 0.2ex 1ex;
    border-radius: 0.5em;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#eliforms a:hover {
    background-color: var(--bg);
}

div.letter {
    font-size: 19px;
    width: 50rem;
    padding: 2rem;
    background-color: var(--bg);
    color: var(--text);
}

nav.seealso {
    font-size: 16px;
    width: 15rem;
    padding: 0;
}

nav.seealso>a.bibl,
nav.seealso>header {
    padding: 0.3rem 0 0.3rem 1rem;
}

nav.seealso>header {
    font-weight: bold;
    border-top: 1px solid var(--bg);
    border-bottom: 1px solid var(--bg);
    color: var(--bg);
}

.seealso b {
    font-weight: normal;
}

main>div.row {
    margin-top: 2rem;
}

mark.mark {
    border: none;
    color: var(--link);
    background-color: var(--bglo);
}