@charset "UTF-8";
html {
    overflow-y: scroll;
}

#header {
    position: relative;
}

form.elicom {
    margin-top: 1rem;
}

form.elicom>* {
    flex-grow: 1;
    flex-basis: 0;
}

form.elicom fieldset {
    position: relative;
    border-color: var(--borderlo);
}

fieldset.left {
    text-align: left;
}

fieldset.center {
    text-align: center;
}

fieldset.right {
    text-align: right;
}

form.elicom input[type=text],
form.elicom fieldset {
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
}

form.elicom .suggest {
    left: 0.75em;
    right: 0.75em;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
}

form.elicom label,
form.elicom input[type=text] {
    display: block;
    width: 100%;
}

div.filters label {
    width: 40ex;
    padding: 0 1rem;
    text-align: center;
}

form.elicom input.date {
    display: inline;
    width: 13ex;
}

form small.hint {
    display: block;
}

fieldset.multiple label a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 105%;
}

fieldset.multiple label a:hover {
    color: #800;
}

.suggest .corres {
    cursor: pointer;
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--border);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
}

.suggest .corres:hover {
    background: var(--bghi);
    color: var(--texthi);
}

.suggest .corres:hover mark {
    color: var(--texthi);
}

#graph {
    height: 50vh;
    background-color: var(--bghi);
}

.relation h5 {
    margin: 0;
    text-align: center;
}

.relation .flex {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.relation .flex div {
    padding: 1px 1ex;
}

.relation .flex .receiver,
.relation .flex .sender {
    flex-shrink: 0;
    width: 8rem;
    align-self: center;
}

.relation .flex .sender {
    text-align: right;
}

.relation .flex .receiver {
    text-align: left;
}

.relation .flex .words {
    background: var(--bg);
    color: var(--text);
}

.relation .words a {
    color: var(--text);
    text-decoration: none;
}

.relation .words a small {
    color: var(--textlo);
}